<div id="nav-clients"></div>
<section id="clients" class="component clients">
  <div class="wrapaper">
    <h2 class="white clients-hdr">Clients</h2>

    <div class="clients-cont">
      <img src="../../img/iPAd Air 2 Gravity Mockup - Portrait.png" alt="ipad" class="slider-img hide-mob" />
      <span class="hide-mob">"</span>
      <div class="slider-cont">

        <div class="elements-list" id="slider1">
          <article class="element">
            <div class="element-text">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
                <div class="slide-footer">Project Manager /
                  <a target="_blank" href="https://www.infinity-group.pl">
                    Infinity-group.pl</a>
                </div>
                <div class="boxes-slider">
                  <span>web desing</span>
                  <span>usability</span>
                  <span>e-commerce</span>

                </div>
              </p>
            </div>
          </article>
          <article class="element">
            <div class="element-text">
              <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                accusantium doloremque laudantium.
                <div class="slide-footer">Project Manager /
                  <a target="_blank" href="https://www.infinity-group.pl">
                    Infinity-group.pl</a>
                </div>
                <div class="boxes-slider">
                  <span>web desing</span>
                  <span>usability</span>
                  <span>e-commerce</span>

                </div>
              </p>
            </div>
          </article>
          <article class="element">
            <div class="element-text">
              <p>
                Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                consectetur, adipisci velit.
                tempora.
                <div class="slide-footer">Project Manager /
                  <a target="_blank" href="https://www.infinity-group.pl">
                    Infinity-group.pl</a>
                </div>
                <div class="boxes-slider">
                  <span>web desing</span>
                  <span>usability</span>
                  <span>e-commerce</span>

                </div>
              </p>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>