<div id="contact" class="component contact">
  <div class="wrapper">
    <div class="contact-hdr">
      <h2>Contact</h2>
      <button class="btn btn--animated">
        Let us know how to contact You
        <span>&#8593</span>
      </button>
    </div>
    <div class="contact-content">
      <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
        illo inventore veritatis et quasi architecto beatae vitae.
      </p>
    </div>
    <div class="contact-form">
      <form novalidate>
        <div class="contact-el">
          <!-- name -->
          <label for="firstName">Hello! I'm</label>
          <input
            class="form-el"
            type="text"
            id="firstName"
            name="firstName"
            placeholder="Your name"
            pattern="[a-zA-Z]{2,20}"
            required
          />
          <span class="form-error-msg"
            >Pole musi zawieać conajmniej 2 znaki</span
          >
        </div>
        <!-- comapny -->
        <div class="contact-el">
          <label for="companyName">and I represent</label>

          <input
            class="form-el"
            type="text"
            id="companyName"
            name="companyName"
            placeholder="company name"
            pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{1,20}$"
            required
          />
          <span class="form-error-msg"
            >Pole musi zawieać conajmniej 2 znaki</span
          >
        </div>
        <!-- phone -->
        <div class="contact-el">
          <label for="userTelephone">Call&nbspme at</label>
          <input class="form-el" type="tel" id="userTelephone"
          name="userTelephone" placeholder="Your telephone number" required
          pattern=^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$ />
          <span class="form-error-msg"
            >Błędny numer, pole musi zawierac conajmniej 6 znaków</span
          >
        </div>
        <!-- email -->
        <div class="contact-el">
          <label for="email">or send an email to</label>
          <input
            class="form-el"
            type="email"
            id="email"
            name="email"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
            placeholder="Your email adress"
            required
          />
          <span class="form-error-msg">Błędny adres email</span>
        </div>
        <!-- checkbox -->
        <div class="checkbox-contact checkbox">
          <input
            type="checkbox"
            id="contact-checkbox"
            name="contact-checkbox"
          />
          <label for="contact-checkbox"
            >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor
          </label>
          <span class="form-error-msg">Pole wymagane</span>
        </div>
        <div class="submit-btn">
          <button class="btn btn--animated btn-submit" type="submit">
            send details
            <span>&#8594</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
