<div id="cookie-bar" class="component cookies">
  <div class="cookies-cnt">
    <img src="../../img//cookie.png" alt="cookie-logo" class="cooki-logo" />
    <p>
      We use own and third party cookies to improve our services and show ads
      related to your preferences by analyzing your browser habits. If you
      continue browsing, we consider you accept its use. You can switch the
      configuration or learn more <a href="#" class="cookie-policy">here</a>
    </p>
    <button class="btn btn--animated" id="btn_cookie">
      CLOSE<span class="x-symbol">&times</span>
    </button>
  </div>
</div>
