<header id="nav" class="header">
  <div class="wrapper">
    <a href="#">
      <div class="hdr__logo">
        <div id="nav-hero" class="highlight-nav-img  hide-mob"></div>
        <img src="../../img/ig-logo.png" alt="ig-logo" />
      </div>
    </a>

    <div class="nav">
      <div class="nav__el">
        <a href="#nav-mission">
          <div id="mission-bar" class="heroBar highlight-nav hide-mob"></div>
          <span class="nav__btn">Mission</span>
        </a>
      </div>

      <div class="nav__el">
        <a href="#nav-clients"
          ><div id="clients-bar" class="highlight-nav hide-mob"></div>
          <span class="line nav__btn">clients</span>
        </a>
      </div>
      <div class="nav__el">
        <a href="#nav-products"
          ><div id="products-bar" class="highlight-nav hide-mob"></div>
          <span class="line nav__btn">products</span></a
        >
      </div>
      <div class="nav__el">
        <a href="#nav-contact"
          ><div id="contact-bar" class="highlight-nav hide-mob"></div>
          <span class="line nav__btn ">contact</span></a
        >
      </div>
    </div>
    <div class="hdr-menu" data-menu-btn>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</header>
