<header class="header">
  <div class="wrapper">
    <div class="hdr-logo">
      <a href="#">
        <span></span>
        <img src="../../img/ig-logo.png" alt="ig-logo" />
      </a>
    </div>
    <div class="hdr-nav">
      <ul>
        <li><a href="#">Mission</a></li>

        <li class="line"><a href="#">clients</a></li>

        <li class="line"><a href="#">products</a></li>

        <li class="line"><a href="#">contact</a></li>
      </ul>
    </div>
    <div class="hdr-menu" data-menu-btn>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</header>
