<header id="nav" class="header">
  <div class="wrapper">
    <a href="#">
      <div class="hdr-logo">
        <span></span>
        <img src="../../img/ig-logo.png" alt="ig-logo" />
      </div>
    </a>

    <div class="hdr-nav">
      <a href="#mission"> <span>Mission</span></a>

      <a href="#clients"><span class="line">clients</span></a>

      <a href="#products"><span class="line">products</span></a>

      <a href="#contact"><span class="line">contact</span></a>
    </div>
    <div class="hdr-menu" data-menu-btn>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</header>