<sectiom class="component map">
  <div class="map-contener">
    <div class="map-content">
      <div class="map-text"></div>
      <span class="hide-mob"
        ><img src="../../img/Forma 1.png" alt="compas-icon" class="compas"
      /></span>
      <div>
        <address class="addres ">
          Infinity&nbspGroup&nbspSp.&nbspz&nbspo.o.<br />
          ul.&nbspSkladowa&nbsp12,<br />
          15-399&nbspBialystok,<br />Polska
        </address>
        <div class="addres">
          <p>
            Lorem ipsum dolor sit amet,<br />
            consectetur adipiscing elit
          </p>
        </div>
      </div>
    </div>
    <div class="" id="map"></div>
  </div>
</sectiom>
