<section class=" component products">
  <div class="wrapper">
    <div class="products-cont">
      <h2>Products</h2>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
    </div>
    <!-- grupa -->
    <div class="products-icons-group">
      <!-- element -->
      <div class="products-icons">
        <div class="products-icon-el">
          <button class="colapse">
            <img src="../../img/001-malware-1.png" alt="" class="icon" />
          </button>
          <div class="product-item-content colapse-itm ">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
