<section class=" component products">
  <div class="wrapper">
    <div class="products-content">
      <h2>Products</h2>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
    </div>
    <div class="dropdown-group">
      <div class="dropdown">
        <div class="dropbtn">
          <img
            src="../../img/001-malware-1.png"
            alt="product-icon"
            class="icon "
          />
        </div>
        <div class="dropdown-content">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco
          </p>
        </div>
      </div>
      <div class="dropdown">
        <div class="dropbtn">
          <img
            src="../../img/002-smartphone-1.png"
            alt="product-icon"
            class="icon "
          />
        </div>
        <div class="dropdown-content">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco
          </p>
        </div>
      </div>
      <div class="dropdown">
        <div class="dropbtn">
          <img
            src="../../img/003-folder.png"
            alt="product-icon"
            class="icon "
          />
        </div>
        <div class="dropdown-content">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco
          </p>
        </div>
      </div>
      <div class="dropdown">
        <div class="dropbtn">
          <img
            src="../../img/004-malware.png"
            alt="product-icon"
            class="icon "
          />
        </div>
        <div class="dropdown-content">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco
          </p>
        </div>
      </div>
      <div class="dropdown">
        <div class="dropbtn">
          <img
            src="../../img/005-pendrive.png"
            alt="product-icon"
            class="icon "
          />
        </div>
        <div class="dropdown-content">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco
          </p>
        </div>
      </div>
      <div class="dropdown">
        <div class="dropbtn">
          <img
            src="../../img/006-network.png"
            alt="product-icon"
            class="icon "
          />
        </div>
        <div class="dropdown-content">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco
          </p>
        </div>
      </div>
      <div class="dropdown">
        <div class="dropbtn">
          <img
            src="../../img/007-smartphone.png"
            alt="product-icon"
            class="icon "
          />
        </div>
        <div class="dropdown-content">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco
          </p>
        </div>
      </div>
      <div class="dropdown">
        <div class="dropbtn">
          <img
            src="../../img/008-fishing.png"
            alt="product-icon"
            class="icon "
          />
        </div>
        <div class="dropdown-content">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco
          </p>
        </div>
      </div>
      <div class="dropdown">
        <div class="dropbtn">
          <img
            src="../../img/009-data-protection.png"
            alt="product-icon"
            class="icon "
          />
        </div>
        <div class="dropdown-content">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco
          </p>
        </div>
      </div>
      <div class="dropdown">
        <div class="dropbtn">
          <img
            src="../../img/010-credit-card.png"
            alt="product-icon"
            class="icon "
          />
        </div>
        <div class="dropdown-content">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco
          </p>
        </div>
      </div>
      <div class="dropdown">
        <div class="dropbtn">
          <img src="../../img/011-hacker.png"" class="icon " />
        </div>
        <div class="dropdown-content">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco
          </p>
        </div>
      </div>
      <div class="dropdown">
        <div class="dropbtn">
          <img
            src="../../img/012-firewall.png"
            alt="product-icon"
            class="icon "
          />
        </div>
        <div class="dropdown-content">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
