@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 20px;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  @media (max-width: 359px) {
    html {
      font-size: 12px; } }
  @media (min-width: 1600px) {
    html {
      font-size: 24px; } }
  html *,
  html *:before,
  html *:after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit; }

body {
  font-size: 20px;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: #2d2d2d;
  min-width: 320px; }

ul,
ol {
  padding: 0;
  margin: 0; }

small {
  font-size: 75%; }

a {
  color: inherit;
  text-decoration: none; }

img {
  max-width: 100%; }

h1,
.h1 {
  font-size: 58px;
  margin-bottom: 20px; }

h2,
.h2 {
  font-size: 50px;
  margin-bottom: 20px; }

h3,
.h3 {
  font-size: 30px;
  margin-bottom: 20px; }

p {
  font-size: 20px;
  margin: 20px 0; }

button {
  border: none;
  background: none;
  padding: 0; }

.btn {
  border: 1px solid #0d70b7;
  border-radius: 4px 4px 4px 4px;
  color: #62bf17;
  background-color: #2d2d2d;
  font-size: 14px;
  font-weight: 700;
  padding: 20px 40px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  .btn:hover {
    color: #fff;
    background-color: #62bf17; }

.btn-w {
  border: 1px solid #62bf17;
  border-radius: 4px 4px 4px 4px;
  color: #62bf17;
  background-color: #2d2d2d;
  font-size: 14px;
  font-weight: 700;
  padding: 20px 40px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  .btn-w:hover {
    color: #fff;
    background-color: #62bf17; }

.wrapper {
  padding-left: 40px;
  padding-right: 40px;
  position: relative; }
  @media (min-width: 768px) {
    .wrapper {
      padding-left: 40px;
      padding-right: 40px; } }
  @media (min-width: 1024px) {
    .wrapper {
      max-width: 1024px;
      margin: 0 auto; } }
  @media (min-width: 1024px) {
    .wrapper {
      max-width: 1024px;
      margin: 0 auto; } }

.component {
  margin-top: 40px;
  margin-bottom: 40px; }

.hide-mob {
  display: none; }
  @media (min-width: 1024px) {
    .hide-mob {
      display: unset; } }

.black {
  color: #2d2d2d; }

.white {
  color: #f2f2f2; }

.header {
  z-index: 100;
  width: 100%;
  height: 400px;
  padding-top: 40px;
  position: absolute;
  overflow: hidden; }
  @media (max-width: 1023px) {
    body.open-menu .header {
      z-index: 9999999;
      background-color: rgba(112, 112, 112, 0.9);
      height: 100vh;
      position: absolute; }
      body.open-menu .header li {
        display: block; } }

.hdr-nav {
  text-align: center;
  font-size: 14px;
  padding-top: 160px;
  padding-bottom: 40px;
  color: #f2f2f2;
  font-weight: 400;
  text-transform: uppercase; }
  .hdr-nav li {
    padding: 20px;
    display: none;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
    .hdr-nav li:hover {
      color: #2d2d2d;
      background-color: rgba(242, 242, 242, 0.5); }
  @media (min-width: 1024px) {
    .hdr-nav {
      position: absolute;
      padding-top: 0px;
      left: 280px;
      font-size: 14px; }
      .hdr-nav .line {
        border-left: 1px solid rgba(255, 255, 255, 0.5); }
      .hdr-nav li {
        padding: 20px 40px;
        display: inline-block; }
        .hdr-nav li a {
          display: block;
          cursor: pointer; }
      .hdr-nav .hide-hdr {
        display: none;
        position: absolute; } }

.hdr-logo {
  position: absolute;
  left: 8%;
  cursor: pointer; }

.hdr-menu {
  position: absolute;
  top: 0;
  right: 40px;
  width: 40px;
  height: 40px;
  cursor: pointer; }
  @media (min-width: 1024px) {
    .hdr-menu {
      display: none; } }
  .hdr-menu span {
    display: block;
    background-color: #fff;
    width: 30px;
    height: 5px;
    margin: 5px;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3); }

.hero {
  background-image: url(../img/hero-img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #fff;
  height: 90vh;
  width: auto;
  margin: 0;
  top: -80px;
  left: 0;
  color: #fff;
  overflow: hidden;
  position: relative; }
  @media (min-width: 1600px) {
    .hero {
      height: 960px, 125; } }
  .hero:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(135deg, rgba(16, 24, 30, 0.95) 10%, rgba(34, 93, 26, 0.95) 25%, rgba(51, 161, 21, 0.95) 39%, rgba(255, 174, 19, 0.95) 100%); }

.hero-cont {
  text-align: center;
  padding-top: 40vh;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 544px; }
  .hero-cont h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    color: #fff;
    font-size: 58px;
    font-weight: 400;
    text-transform: uppercase; }
    @media (max-width: 768px) {
      .hero-cont h1 {
        font-size: 30px; } }
    .hero-cont h1 span {
      display: block;
      white-space: nowrap; }
    .hero-cont h1 .black {
      color: #2d2d2d; }

.mission {
  text-align: center; }
  @media (max-width: 768px) {
    .mission {
      margin-top: -40px; } }
  .mission p {
    text-align: left;
    font-size: 22px; }
    @media (min-width: 768px) {
      .mission p {
        font-size: 30px; } }
  .mission-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .mission-cont span,
    .mission-cont p {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      padding: 0, 20px; }
    .mission-cont span {
      font-size: 62px; }

.clients {
  overflow: hidden;
  background: url(../img/trianglify.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  left: 0;
  right: 0;
  color: #2d2d2d;
  text-align: center; }
  .clients-hdr {
    margin-top: 40px; }
    @media (min-width: 1024px) {
      .clients-hdr {
        margin-top: 200px;
        margin-bottom: 60px;
        margin-left: 280px; } }
  .clients-cont {
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (min-width: 1024px) {
      .clients-cont {
        margin-top: 0;
        margin-bottom: 60px;
        margin-left: 30%;
        margin-right: 25%; } }
    .clients-cont .slider-cont {
      width: 100%; }
    .clients-cont span {
      padding-left: 20px;
      padding-right: 40px;
      font-size: 80px; }

.slider-img {
  height: 388px; }

.slider {
  position: relative;
  background-size: cover;
  background-position: center center; }

/* kontener dla wszystkich slajdów */
.slider-slides-cnt {
  height: 500px;
  width: 100%;
  position: relative; }

/* pojedynczy slide */
.slider-slide {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 240px;
  opacity: 0;
  z-index: 0; }

/* slide aktywny */
.slider-slide-active {
  z-index: 1; }

.slider .element-text {
  color: #2d2d2d;
  position: relative;
  left: -60px;
  opacity: 0;
  text-align: center;
  max-width: 100%; }
  .slider .element-text p {
    text-align: left;
    font-size: 30px; }
  .slider .element-text .slide-footer {
    font-size: 22px;
    text-align: left; }
    .slider .element-text .slide-footer a {
      color: #fff;
      cursor: pointer; }

.boxes-slider {
  text-align: left; }
  .boxes-slider span {
    padding: 2px;
    font-size: 14px;
    background-color: #fff; }

/* animacja slajdów */
.slider-slide {
  opacity: 0;
  -webkit-transition: 0.4s all;
  transition: 0.4s all; }

.slider .element-title {
  left: -60px;
  opacity: 0;
  -webkit-transition: 1s left, 1s opacity;
  transition: 1s left, 1s opacity; }

.slider .element-text {
  left: -60px;
  opacity: 0;
  -webkit-transition: 1s 1s left, 1s 1s opacity;
  transition: 1s 1s left, 1s 1s opacity; }

/* aktywny slide zmienia właściwości elementów */
.slider-slide-active {
  opacity: 1; }

.slider-slide-active .element-title {
  left: 0;
  opacity: 1; }

.slider-slide-active .element-text {
  left: 0;
  opacity: 1; }

/* przyciski strzałek slajdu */
.slider-button-prev,
.slider-button-next {
  cursor: pointer;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 80px;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  border: 0;
  text-indent: -999px;
  overflow: hidden; }

.slider-button-next {
  left: auto;
  right: 0; }

.slider-button-prev:focus,
.slider-button-next:focus {
  outline: none; }

.slider-button-prev:before,
.slider-button-next:before {
  content: "<";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  text-indent: 0; }

.slider-button-next:before {
  content: ">"; }

/* slider dots */
.slider-dots {
  z-index: 2;
  position: relative;
  bottom: 120px;
  margin: 0;
  padding: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none; }
  @media (min-width: 1024px) {
    .slider-dots {
      bottom: 140px;
      margin-left: -120px; } }

.slider-dots-button {
  background: transparent;
  width: 40px;
  height: 40px;
  border: 0;
  text-indent: -999px;
  overflow: hidden;
  cursor: pointer;
  position: relative; }

.slider-dots-button:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: transparent;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  -webkit-box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.5);
          box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.5); }

.slider-dots-element-active .slider-dots-button:before {
  background: #fff;
  -webkit-transform: translate(-50%, -50%) scale(1.2);
          transform: translate(-50%, -50%) scale(1.2); }

.slider-dots-button:focus {
  outline: none; }

.products-content {
  text-align: center; }

.products {
  margin-left: -40px;
  margin-right: -40px; }
  @media (min-width: 380px) {
    .products {
      margin-left: 0;
      margin-right: 0; } }
  @media (min-width: 768px) {
    .products {
      margin-left: 40px;
      margin-right: 40px; } }

.dropdown-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.dropbtn {
  padding: 20px;
  height: 100%;
  width: 150px; }
  @media (min-width: 1024px) {
    .dropbtn {
      padding: 40px;
      width: 220px; } }
  .dropbtn img {
    width: 100%; }

.dropdown {
  position: relative;
  display: inline-block; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #62bf17;
  min-width: 150px;
  width: 100%;
  z-index: 1;
  color: #fff;
  padding: 0 20px; }

.dropdown-content:hover {
  display: block; }

.dropdown:hover .dropdown-content {
  display: block; }

.dropdown:hover .dropbtn {
  background-color: #62bf17; }

.map {
  margin-top: 500px; }
