// COLORS
$color-1: #2d2d2d;
$color-2: #f2f2f2;
$color-3: #f8f8f8;
$color-4: #62bf17;
$color-5: #767676;
$color-6: #b7b7b7;
$color-7: #000000;
$color-8: #0d70b7;
$color-9: #707070;
$color-10: #00a3e2;
$color-11: #dadada;

$white: #fff;
$black: #000;
$color-error: red;
$color-ok: green;

// FONTS
$base-unit: 20px; //16px
$font-1: Arial, Helvetica Neue, Helvetica, sans-serif;
$font-size-base: $base-unit; //16 px
$fw-normal: 400;
$fw-semi: 600;
$fw-bold: 700;

// FONT SIZE
$font-size-body: $font-size-base; // 20
$font-size-body2: $font-size-base * 0.75;
$font-size-h1: $font-size-base * 2.9; //58
$font-size-h2: $font-size-base * 2.5; //50
$font-size-h3: $font-size-base * 1.5; //30
$font-size-h4: $font-size-base * 1.1; // 22
$font-size-h5: $font-size-base * 0.7; // 14
$font-size-h6: $font-size-base * 0.5; //10

// SPACE
$space: 2 * $base-unit; // 40px

// BREAK POINTS
$bpoint-mob: 360px;
$bpoint-tab: 768px;
$bpoint-desk: 1024px;
$bpoint-desklg: 1600px;

$cont-max-width: $base-unit * 51.2;
$cont-min-width: $base-unit * 16;
