.cookies {
  position: fixed;
  padding: 0;
  width: 100%;
  bottom: -$space;
  background-color: $color-8;
}
.cookies-cnt {
  color: $white;
  margin: 10px 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  @media (min-width: $bpoint-tab) {
    flex-direction: row;
    max-width: $cont-max-width;
    margin: auto;
    flex-wrap: nowrap;
    padding: $base-unit $space;
  }

  img {
    align-self: flex-start;
    margin-top: $base-unit;
    padding-right: 10px;
    width: 45px;
    height: 45px;
    @media (min-width: $bpoint-tab) {
      margin: 0;
    }
    // @media (min-width: $bpoint-desk) {
    //   margin-top: $space;
    // }
  }
  p {
    align-self: flex-end;
    flex-grow: 2;
    font-size: $font-size-h5;
    text-align: left;
    width: 60%;
    @media (min-width: $bpoint-tab) {
      width: 80%;
      margin: 0 $space;
    }
  }
  #btn_cookie {
    width: 100%;
    font-size: $font-size-h5;
    @media (min-width: $bpoint-tab) {
      width: 81px;
      height: 30px;
    }
  }
}
