.map-contener {
  position: relative;
  display: block;
  flex-direction: column;
  background-color: $color-5;
  width: 100%;
  height: 500px;
  min-width: 300px;
  @media (min-width: $bpoint-desk) {
    height: 1040px;
  }
}
.map-content {
  padding: $space;
  color: $black;
  z-index: 9999;
  margin: 10px;
  display: flex;

  @media (min-width: $bpoint-desk) {
    position: absolute;
    top: 45%;
    left: $space * 2;
  }
  span {
    padding: 0 $base-unit;
    min-width: 73px;
    height: auto;
  }

  address {
    line-height: 1;
  }
}

#map {
  min-width: 300px;
  bottom: 0;
  right: 0;
  position: absolute;
  width: 100%;
  height: 50%;

  @media (min-width: $bpoint-desk) {
    top: 0;
    height: 100%;
    float: right;
  }
}
