.mission {
  // margin-top: $space;
  text-align: center;
  @media (max-width: $bpoint-tab) {
    margin-top: -$space;
  }
  p {
    text-align: left;
    font-size: $font-size-h4;
    @media (min-width: $bpoint-tab) {
      font-size: $font-size-h3;
    }
  }

  &-cont {
    display: flex;

    span,
    p {
      flex-direction: row;
      padding: 0, $space/2;
    }
    span {
      font-size: $font-size-base * 3.1;
    }
  }
}
