.nav-anchor-mission {
  position: absolute;
  padding-top: 100px;
  margin-top: -50px;
}
.mission {
  text-align: center;
  @media (max-width: $bpoint-tab) {
    margin-top: -$space;
  }
  h2 {
    font-family: $font-2;
  }
  p {
    text-align: left;
    font-size: $font-size-h5;
    @media (min-width: $bpoint-tab) {
      font-size: $font-size-h3;
    }
  }

  &-cont {
    display: flex;
    flex-direction: row;
    span {
      padding: 0 20px 0 0;
      font-size: $font-size-base * 3.1;
    }
  }
}
