.products {
  margin-left: $space;
  margin-right: $space;

  @media (min-width: $bpoint-desk) {
    margin-left: 0;
    margin-right: 0;
  }
  &__content {
    text-align: center;
  }
}

.dropdown {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__el {
    margin-bottom: $space;
    position: relative;
    display: inline-block;
  }

  &__btn {
    overflow: hidden;
    padding: $space;
    text-align: center;
    height: auto;
    width: 300px;
    background: linear-gradient(-90deg, #fff 50%, $color-4 50%);
    background-size: 200%;
    background-position: 100%;
    transition: ease-in 0.2s;

    @media (min-width: $bpoint-desk) {
      padding: $space;
      width: 220px;
    }
    img {
      width: 50%;
      @media (min-width: $bpoint-desk) {
        width: 100%;
      }
    }
  }

  &__content {
    transition: ease-in 0.2s;
    transition: height 0.2s;
    height: 0;
    transition: ease-in 0.2s;
    position: absolute;
    background: linear-gradient(-90deg, #fff 50%, $color-4 50%);
    background-size: 200%;
    background-position: 100%;
    color: $white;
    padding: 0 10px;
    text-align: center;
    p {
      font-size: $font-size-h5;
    }
    @media (min-width: $bpoint-tab) {
      padding: 0 $base-unit;
    }
  }

  &__el:hover {
    .dropdown__content {
      width: 100%;
    }
    .dropdown__btn {
      transition: ease-in 0.2s;
      background-position: 0;
    }

    .dropdown__content {
      transition: ease-in 0.2s;
      height: 70%;
      background-position: 0;
      z-index: 1;
    }
  }
}
