.products-content {
  text-align: center;
}
.products {
  margin-left: $space * -1;
  margin-right: $space * -1;
  @media (min-width: 380px) {
    margin-left: 0;
    margin-right: 0;
  }
  @media (min-width: $bpoint-tab) {
    margin-left: $space;
    margin-right: $space;
  }
}
.dropdown-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dropbtn {
  padding: $space * 0.5;
  height: 100%;
  width: 150px;
  @media (min-width: $bpoint-desk) {
    padding: $space;
    width: 220px;
  }
  img {
    width: 100%;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: $color-4;
  min-width: 150px;
  width: 100%;
  z-index: 1;
  color: $white;
  padding: 0 20px;
}

.dropdown-content:hover {
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: $color-4;
}
