.products {
  margin-left: $space;
  margin-right: $space;

  @media (min-width: $bpoint-desk) {
    margin-left: 0;
    margin-right: 0;
  }
}
.products-content {
  text-align: center;
}

.dropdown-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.dropdown {
  margin-bottom: $space;
}

.dropbtn {
  padding: $space * 0.25;

  height: auto;
  width: 300px;

  @media (min-width: $bpoint-desk) {
    padding: $space;
    width: 220px;
  }
  img {
    width: 100%;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: $color-4;
  width: 100%;
  z-index: 1;
  color: $white;
  padding: 0 10px;

  text-align: center;
  p {
    font-size: $font-size-h5;
  }
  @media (min-width: $bpoint-tab) {
    padding: 0 $base-unit;
  }
}

.dropdown-content:hover {
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: $color-4;
}
